body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    farthest-corner circle at 0% 0%,
    hsl(215, 100%, 97%) 0%,
    hsl(210, 100%, 96%) 100%
  );
  padding: 10px;
  /* width: 100%;
  height: 100vh;
  overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiChip-filledSuccess {
  background-color: hsl(143, 43%, 81%) !important;
}
.MuiChip-filledSuccess .MuiChip-label {
  color: hsl(144, 72%, 21%) !important;
}
.green {
  background-color: rgba(15, 92, 46, 0.2);
  color: hsl(144, 72%, 21%) !important;
  border-radius: 50px;
}
.MuiChip-filledError {
  background-color: #ffdddd !important;
}
.MuiChip-filledError .MuiChip-label {
  color: #d32f2f !important;
}
.MuiCard-root {
  height: 100%;
  border-radius: 10px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1) !important;
}
.MuiCardContent-root {
}
.card-title {
  margin-bottom: 0 !important;
  color: #283c50 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.card-header {
  padding: 0px 25px !important;
  border-bottom: 1px solid rgba(130, 130, 130, 0.17);
  display: flex;
  justify-content: space-between;
}
.payment .MuiToolbar-root {
  min-height: 42px !important;
  border-bottom: 1px dashed #eee !important;
}
